<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main nav Navigation-->
  
<div class="container my-5">
  <div class="bg-light p-5 rounded">
    <div class="col-sm-8 py-5 mx-auto">
      <a aria-current="page" href="./images/Robert Escario CV.pdf" target="_blank"><i class="fas fa-file"></i> Resume </a>
      <br/>
      <a aria-current="page" href="https://www.linkedin.com/in/robert-escario-877a6b13/" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn </a>
    </div>
  </div>
<div>

    
  <!--<h1><%= title %></h1>-->
  <!--<p>Welcome to the <%= title %> Page</p>-->
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>